{% extends 'base.html' %}

{% block head_title %}Airport App Flights List{% endblock %}
{% block body_title %}Flights{% endblock %}

{% block content %}

<hr>

<div class = 'flights-list'>
<ul  style="list-style-type:none"> 
  {% for flight in queryset %}
  <li class="flight"> 
    <a href="{{flight.get_absolute_url}}" >
      <!-- Added div for easier css -->
      <div >
        {{flight}}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'flight_create' %}">Add new flight +</a>
</div>
{% load static %}
<img class='flights-list-pic' src="{% static "ilustrations/1.png" %}" alt="My image"/>
{% endblock %}

