{% extends 'base.html' %}

{% block head_title %}Airport App Home{% endblock %}
{% block body_title %}Welcome! {% endblock %}

{% block content %}

<hr>
<p>Please select "Flights" to see the list of available flights and to manage flights, or select "Passengers" if you want to add/edit passengers.
<br>
<div class="row">
  <div class="column">
    <div class="center">
    <button type="button" class="btn btn-success btn-lg">Flights</button>
  </div>
  </div>
  <div class="column">
        <div class="center">
    <button type="button" class="btn btn-success btn-lg">Passengers</button>
        </div>
  </div>
</div>



{% endblock %}


