{% extends 'base.html' %}

{% block head_title %}Airport App Home{% endblock %}
{% block body_title %}Welcome! {% endblock %}

{% block content %}

<hr>
<ul>
    <li> Select "Flights" to see the list of available flights</li>
    or
    <li> Select "Passengers" to see the list of all passengers</li>
</ul>


<br>
<div class="row">
  <div class="column">
    <div class="center">
    <a class="btn btn-success btn-lg" href="{% url 'flights' %}" role="button">Flights</a>
  </div>
  </div>
  <div class="column">
        <div class="center">
    <a class="btn btn-success btn-lg" href="{% url 'passengers' %}" role="button">Passengers</a>
        </div>
  </div>
</div>



{% endblock %}


