
{% extends 'base.html' %}


{% block head_title %}Airport App Passengers List{% endblock %}
{% block body_title %}Passengers{% endblock %}



<hr>

{% block content %}
<ul style="list-style-type:none">
  {% for passenger in queryset %}
  <li> {{passenger}} </li>
  {% endfor %}
</ul>

<a href="{% url 'add_passengers' %}">Create new Passenger +</a>



<!--    <p>add passenger</p>-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{form.as_p }}-->
<!--        <button type="submit" class="btn btn-info">Add passenger</button>-->

<!--    </form>-->


{% endblock %}



